{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <h1 class="text-center">
    ALL Dishes in category {{ category.name }}
  </h1>

  {% if dishes %}
  <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for dish in dishes %}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{ dish.image }}" alt="{{ dish.name }}" onerror="this.onerror=null; this.src='{% static 'images/dish_image.png' %}';" style="max-height: 200px; width: auto; border-radius: 5px">
              <div class="card-body">
                <p class="card-text">{{ dish.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>

  {% else %}
      <p>There are no dishes in this category.</p>
  {% endif %}
{% endblock %}