{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <h1 class="text-center">
    Your favorites recipes.
  </h1>

  {% if favorite_dishes %}
  <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for dish in favorite_dishes %}
            {% include "catalog/dish_card.html" %}
          {% endfor %}
      </div>
    </div>
  </div>

  {% else %}
      <p>There are no dishes in the site.</p>
  {% endif %}
{% endblock %}