{% load static %}

<div class="col">
  <div class="card shadow-sm">
    <img src="{{ dish.image }}" alt="{{ dish.name }}"
         onerror="this.onerror=null; this.src='{% static 'images/dish_image.png' %}';"
         style="height: 235px; width: auto ; border-radius: 5px">
    <div class="card-body md-6">
      <p class="card-text">{{ dish.name }}</p>
      <div class="d-flex justify-content-between">
        <p class="card-text">Author:</p>
        <div>
          <a href="{{ dish.author.get_absolute_url }}">{{ dish.author.username }}</a>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p class="card-text">Calories</p>
        <div>
          <p class="card-text">{{ dish.calories }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p class="card-text">Cooking time</p>
        <div>
          <p class="card-text">{{ dish.formatted_cooking_time }}</p>
        </div>
      </div>
            <div class="d-flex justify-content-between">
        <p class="card-text">Number of servings</p>
        <div>
          <p class="card-text">{{ dish.servings }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center" style="margin: 0 auto; display: block;">
          <div class="d-flex justify-content-between">
          <a href="{% url 'catalog:dish-detail' dish.pk %}"
         class="btn btn-secondary" style="width: 200px;">View</a>
            {% if dish.author == user %}
          <a href="{% url 'catalog:dish-update' dish.pk %}" class="btn btn-dark" style="width: 190px;">Edit</a>
            {% endif %}
          </div>
          {% if request.user.is_authenticated %}
            {% if dish in request.user.favorite_dishes.all %}
              <form action="{% url 'catalog:remove-from-favorites' pk=dish.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-2" style="width: 200px">Remove from Favorites</button>
              </form>
            {% else %}
              <form action="{% url 'catalog:add-to-favorites' pk=dish.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-2" style="width: 200px">Add to Favorites</button>
              </form>
            {% endif %}
          {% else %}
            <p>Login to add this dish to your favorites.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>