{% extends "base.html" %}

{% block content %}
    <h1>Recipe website Home</h1>
    <p>Welcome to the best recipe website!</p>
    <h2>Dynamic content</h2>
    <p>The Recipe website has the following record counts:</p>
    <ul>
        <li><strong>Cooks:</strong> {{ num_cook }}</li>
        <li><strong>Dishes:</strong> {{ num_dish }}</li>
        <li><strong>Category:</strong> {{ num_category }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
